[submodule "_zsh/zsh-completions"]
	path = _zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "_zsh/zsh-notify"]
	path = _zsh/zsh-notify
	url = https://github.com/marzocchi/zsh-notify.git
[submodule "_vim/bundle/neobundle.vim"]
	path = _vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "_vim/bundle/vimproc"]
	path = _vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc
[submodule "_tmux/plugins/tpm"]
	path = _tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
